.jsp-spawner__env-var-form {
  display: flex;
  flex-direction: column;
  &__add-button {
    margin-left: var(--pf-global--spacer--md);
    padding-left: 0;
    padding-right: 0;
    width: fit-content;
    > svg {
      margin-right: var(--pf-global--spacer--xs);
    }
  }
  &__var-row {
    .pf-c-form__group-label {
      margin-top: var(--pf-global--spacer--sm);
    }
    &__vars {
      margin-left: var(--pf-global--spacer--md);
      &__value {
        display: flex;
        align-items: center;
        .pf-c-check {
          margin-left: var(--pf-global--spacer--sm);
          position: relative;
          right: 0;

          &.m-is-secret {
            right: 33px;
          }
        }
      }
    }
    &__remove {
      &.pf-c-button.pf-m-link {
        color: var(--pf-global--Color--200);
      }
    }
  }
  &__toggle-password-vis.pf-c-button {
    border-left: 1px solid var(--pf-global--BorderColor--300);
    border-radius: 0;
    color: var(--pf-global--Color--200) !important;
    padding: 6px var(--pf-global--spacer--sm) 5px;
    position: relative;
    right: 34px;
  }

  .pf-c-form__group-control {
    input {
      max-width: calc(400px - var(--pf-global--spacer--md));
    }
  }
}
