# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./jupyterhub_singleuser_profiles/ui/node_modules

# production
./jupyterhub_singleuser_profiles/ui/build
package-lock.json
jupyterhub_singleuser_profiles/ui/build
jupyterhub_singleuser_profiles/ui/node_modules
