# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./jupyterhub_singleuser_profiles_ui/node_modules

# production
./jupyterhub_singleuser_profiles_ui/build
