
{% extends "page.html" %}
{% if announcement_spawn %}
  {% set announcement = announcement_spawn %}
{% endif %}

{% block main %}

<script type="text/javascript">
  window.jhdata['spawn-url'] = '{{ url }}'
</script>

{% if for_user and user.name != for_user.name -%}
<script type="text/javascript">
  window.jhdata['for_user'] = '{{ for_user.name }}'
</script>
{% endif -%}
<div>
  {% if for_user and user.name != for_user.name -%}
    <p>Spawning server for {{ for_user.name }}</p>
  {% endif -%}
  {% if error_message -%}
    <p class="spawn-error-msg text-danger">
      Error: {{error_message}}
    </p>
  {% endif %}
  <form enctype="multipart/form-data" id="spawn_form" action="{{url}}" method="post" role="form" >
    {{spawner_options_form | safe}}
  </form>
</div>

{% endblock %}
