.EnvVarForm {
    min-width: 650px;
    color: black;
    background-color: #eeeeee;
    border: solid;
    border-radius: 8px;
    border-color: #eeeeee;
}

.EnvVarAccord {
    max-width: 710px;
    font-size: 250%;
    background-color: white;
    border: solid;
    border-radius: 8px;
    border-color: lightgray;
}

.EnvVarDropdown {
    margin-top: .5rem;
    color: #495057;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
}

.EnvVarForm > * {
    font-size: 150%;
}

.InnerGap {
    margin-bottom: .5rem;
}

.RowGap {
    margin-bottom: 1rem;
}

.FormDropdown {
    margin-bottom: 1rem;
    min-width: 650px;
}