.EnvVarForm {
    min-width: 650px;
    color: black;
    background-color: darkgrey;
    border: solid;
    border-radius: 8px;
    border-color: darkgray;
}

.EnvVarAccord {
    max-width: 710px;
    font-size: 250%;
    background-color: lightgray;
    border: solid;
    border-radius: 8px;
    border-color: lightgray;
}

.EnvVarForm > * {
    font-size: 150%;
}

.InnerGap {
    margin-bottom: .5rem;
}

.RowGap {
    margin-bottom: 1rem;
}

.FormDropdown {
    margin-bottom: 1rem;
    min-width: 650px;
}