.VarDropdown {
    position: relative;
    top: 0px;
    right: 0px;
}

.VarValueForm {
    min-width: 650px;
}

.VarCheckbox {
    position: relative;
    left: 10px;
    top: 5px;
}

.CheckboxGrid {
    display: grid;
    grid-template-columns: 85% 10% 5%;
    
}

.Secret {
    position: relative;
    top: 0px;
    left: 5px;
    border: solid;
    border-right: black;
    border-top: #fff;
    border-bottom: #fff;
    border-width: 1px;
    border-radius: 2px;
    margin: 0px -5px 5px;
}
