.SizesForm {
    margin-top: .5rem;
    min-width: 320px;
    color: #495057;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
}

.SizesMenu {
    min-width: 320px;
    font-size: 50%;
}

.SizeDropdown {
    margin-top: .5rem;
    min-width: 320px;
    color: #495057;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
}

div#sizes {
    font-size: 150%;
}

.DropdownItem {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
}

.SizeGrid {
    display: grid;
    grid-template-columns: auto auto;
}
